@font-face {
    font-family: ImperatorBold;
    src: url("./fonts/ImperatorBold.ttf") format("truetype");
}

@font-face {
    font-family: Marvel-Regular;
    src: url("./fonts/Marvel-Regular.ttf") format("truetype");
}

@mixin for-size($range) {
  $mobile: 768px;
  $medium: 1000px;


  @if $range == mobile-only {
    @media (max-width: #{$mobile}) { @content; }
  }
  @if $range == medium-screen {
    @media (max-width: #{$medium}) { @content; }
  }
  @if $range == large-screen {
    @media (min-width: #{$large}) { @content; }
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  .benedict-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .benedict-name-container {
      text-align: center;
    }
    .benedict-name {
      margin-top: 8em;
      p {
        font-family: 'ImperatorBold';
        text-transform: uppercase;
        margin: 0 .2em;
        color: white;
        font-size: 6.5vw;
        line-height: 1em;
        //-webkit-text-stroke: 1px black;
        text-shadow: .05em .05em .1em rgba(0,0,0,1);
        @include for-size(mobile-only) {
          font-size: 8vw;
        }
        &.last-name {
          position: relative;
          font-size: 10vw;
          @include for-size(mobile-only) {
            font-size: 9.5vw;
          }
          &::before {
            content: '';
            width: 100%;
            height: .03em;
            position: absolute;
            top: -.13em;
            left: 0;
            background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.95) 20%, rgba(255,255,255,1) 21%, rgba(255,255,255,1) 78%, rgba(255,255,255,0.95) 79%, rgba(255,255,255,0) 100%);
            background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.95) 20%,rgba(255,255,255,1) 21%,rgba(255,255,255,1) 78%,rgba(255,255,255,0.95) 79%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.95) 20%,rgba(255,255,255,1) 21%,rgba(255,255,255,1) 78%,rgba(255,255,255,0.95) 79%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
            @include for-size(mobile-only) {
              height: 1px;
            }
          }
        }
      }
    }
    .benedict-button {
      font-family: 'Marvel-Regular';
      color: white;
      background-color: #e51e29;
      padding: 11px 5px 0;
      line-height: .8em;
      margin: .5em 0 0;
      cursor: pointer;
      text-transform: uppercase;
      font-size: 4vw;
      display: inline-block;
      @include for-size(mobile-only) {
        font-size: 50px;
        padding: 15px 5px 3px;
        line-height: 30px;
      }
    }
  }
}
